html {background-color: #ccc;}
body {
	/* FeatherWing 2.4" 320x240 screen */
	width: 320px;
	height: 240px;
	font-size: 20px;
	color: #666;
}
.h2, h2 {font-size: 30px;}
.h3, h3 {font-size: 29px;}
.bg-primary {background-color: #6699cc;}
.container-fluid {padding: 0;}
#icon {
	padding-top: 6px;
	padding-bottom: 6px;
	margin-bottom: 0;
	font-size: 2.5em;
}
#rain {
	margin-top: .3em;
	font-size: .7em;
}
#carbon {
	display: inline-block;
	vertical-align: middle;
	float: none;
	font-size: .7em;
	color: #ff0000;
}
.h1, .h2, .h3, h1, h2, h3 {margin-top: 5px;}
small {
	font-size: 65%;
	color: #6699cc;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-left: 5px;
	padding-right: 5px;
}
.row {
	margin-left: 0;
	margin-right: 0;
}
.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
	color: #999 !important;
	font-size: 75%;
}
.night .bg-primary {background-color: #003366;}
.night small{color: #003366;}